.button {
    padding: 1rem;
    width: var(--button-width);
    font-size: var(--large-font-size);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: var(--text-decoration);
    cursor: var(--cursor);
    transition: var(--on-hover-button-transition);
}

.small-button {
    padding: 0.5rem;
    width: var(--small-button-width);
    font-size: var(--font-size);
    border-radius: var(--small-border-radius);
    text-align: center;
    text-decoration: var(--text-decoration);
    cursor: var(--cursor);
    transition: var(--on-hover-button-transition);
}

.primary-color {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: var(--border-width) var(--primary-color);
}

.primary-color:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.error-color {
    color: var(--error-color);
    background-color: var(--secondary-color);
    border: var(--border-width) var(--error-color);
}

.error-color:hover {
    background-color: var(--error-color);
    color: var(--secondary-color);
}

