.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.game-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.game-label {
    font-size: var(--secondary-font-size);
    padding: 1rem;
    margin-bottom: 1rem;
}