.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.text-input-container-flex {
    flex: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}