@media screen and (max-width: 992px) {
    .rankings-table-container {
        width: 90%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .rankings-table-container {
        width: 80%;
    }
}

@media screen and (min-width: 1201px) {
    .rankings-table-container {
        width: 60%;
    }
}

.rankings-table {
    width: 100%;
    border-spacing: unset;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.rankings-row {
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--border-width) var(--primary-color);
}

.rankings-table-position-column {
    margin-left: 1rem;
    flex: 1;
    text-align: left;
}

.rankings-table-username-column {
    flex: 1;
    text-align: center;
}

.rankings-table-game-name-column {
    flex: 1;
    text-align: center;
}

.rankings-table-score-column {
    margin-right: 1rem;
    flex: 1;
    text-align: right;
}

.rankings-page-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.page-number {
    font-weight: bold;
}
