@media screen and (max-width: 992px) {
    .container {
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) 1fr var(--footer-height);
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) 1fr var(--footer-height);
    }
}

@media screen and (min-width: 1201px) {
    .container {
        display: grid;
        grid-template-areas:
            'header'
            'main'
            'footer';
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) 1fr var(--footer-height);
    }
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.room-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}