@media screen and (max-width: 992px) {
    .rankings-table-container {
        width: 90%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .rankings-table-container {
        width: 80%;
    }
}

@media screen and (min-width: 1201px) {
    .rankings-table-container {
        width: 60%;
    }
}

.rankings-table {
    width: 100%;
    border-spacing: unset;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.rankings-row {
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--element-border);
}

.rankings-table-position-column {
    margin-left: 1rem;
    flex: 1;
    text-align: left;
}

.rankings-table-username-column {
    flex: 1;
    text-align: center;
}

.rankings-table-room-name-column {
    flex: 1;
    text-align: center;
}

.rankings-table-score-column {
    margin-right: 1rem;
    flex: 1;
    text-align: right;
}

.rankings-page-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    --element-padding: 0.5rem;
    --element-height: 2rem;
    --element-width: 2rem;
}

.previous-page-button {
    padding: var(--element-padding);
    height: var(--element-height);
    width: var(--element-width);
    background-color: var(--text-color);
    color: var(--background-color);
    border: var(--element-border);
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    text-align: center;
    text-decoration: var(--text-decoration);
    cursor: var(--cursor);
}

.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--element-padding);
    height: var(--element-height);
    width: var(--element-width);
}

.next-page-button {
    padding: var(--element-padding);
    height: var(--element-height);
    width: var(--element-width);
    background-color: var(--text-color);
    color: var(--background-color);
    border: var(--element-border);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    text-align: center;
    text-decoration: var(--text-decoration);
    cursor: var(--cursor);
}