.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.game-type-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.text-input-container-flex {
    flex: 1;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/*ToDo header gets squished on low resolutions. Need to make it a dropdown. This also squishes the button for the theme*/
.game-type-label {
    display: inline-block;
    padding: 1rem;
    margin: 0 0.5rem;
    width: var(--button-width);
    font-size: var(--secondary-font-size);
    border: var(--border-width) var(--primary-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: var(--text-decoration);
    cursor: var(--cursor);
}

.game-type-input:checked + .game-type-label {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .2s ease-out;
}
