.text-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.text-input {
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: var(--button-width);
    font-size: var(--secondary-font-size);
    text-align: center;
    border: var(--element-border);
    border-radius: var(--border-radius);
    color: var(--text-color);
    background-color: var(--background-color);
}

.text-input:hover {
    outline: none;
}

.label {
    font-size: var(--secondary-font-size);
    padding: 1rem;
}