.text-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-input {
    padding: 1rem;
    width: var(--button-width);
    font-size: var(--large-font-size);
    text-align: center;
    border: var(--border-width) var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.text-input:hover {
    outline: none;
}

.label {
    font-size: var(--large-font-size);
    padding: 1rem;
}
