.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.link {
    padding: var(--button-padding);
    width: var(--button-width);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--large-font-size);
    border: var(--border-width) var(--primary-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: var(--text-decoration);
    cursor: var(--cursor);
    transition: var(--on-hover-button-transition);
}

.link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}